body { font-size: 100%; }

.pxfont { font-size: 16px; }

.ptfont { font-size: 16pt; }

.emfont { font-size: 1em; }

.bordertop {
  border-top: 1px solid #ff0000;
}

.borderbottom {
  border-bottom: 2px solid #00ff00;
}

.borderright {
  border-right: 4px solid #0000ff;
}

.borderleft {
  border-left: 8px solid #ff00ff;
}

.rainbowborder {
  border-top: 1px solid #ff0000;
  border-bottom: 1px solid #00ff00;
  border-right: 1px solid #0000ff;
  border-left: 1px solid #ff00ff;
}

.blockimg {
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  width: 25%
}

nav ul {
  list-style-type: disc;
  margin-left: 10px;
  padding: 10px;
}

nav li {
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
  width: 150px;
  background-color: #cc0000;
  color: #ffffff;
}

nav li a {
  color: #ffffff;
}

.pixelwidth {
  border: 1px solid #ff0000;
  width: 100px;
}

.percentwidth {
  border: 1px solid #ff0000;
  width: 50%;
}

.pxbox {
  border: 1px solid #ff0000;
  padding: 10px;
  margin: 20px;
}

.embox {
  border: 1px solid #ff0000;
  padding: 1em;
  margin: 2em;
}

.percentbox {
  border: 1px solid #ff0000;
  padding: 5%;
  margin-left: 10%;
}
