body{
  font-family: helvetica, sans-serif;
  background-image: url("a62.png");
}

nav li{
  list-style-type: none;
  padding: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  margin-right: 20px;
  background-color: red;
  margin-left: 0px;
}

nav a:link,nav a:visited{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav li:hover{
  background-color: #a30001;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#wrapper{
    display: grid;
    width: 960px;
    margin: 1em auto;
    margin-bottom: 0;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 85px auto;
    background-color: white;
    border: 5px solid black;
    border-bottom: none;
    padding: 20px;
    padding-left: 0px
    padding-bottom: 0;
}

header{
    grid-column: span 4;
    color: white;
    background-color: black;
}

h1{
    font-weight: lighter;
    padding-left: 20px;
}

nav{
  grid-column: span 1;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

nav ul{
  padding-top: 15px;
}

main a:link,main a:visited{
  text-decoration: none;
  font-weight: bold;
  color: red;
}

main a:hover{
  color: blue;
  text-decoration: underline;
}

main{
  font-family: Georgia, serif;
  grid-column: span 3;
}

#brick{
  float: left;
  border: 5px solid black;
  padding: 10px;
  margin-right: 10px;
}

.bold{
  font-weight: bold;
}

h2{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 5px solid black;
}

footer{
  width: 960px;
  margin: 1em auto;
  margin-top: 0;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-style: italic;
  color: white;
  grid-column: span 4;
  background-color: red;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 5px solid black;
}
