body {
  background-color: #EEEEEE;
}

#wrapper, .animsition {
  margin: 24px auto;
  width: 1200px;
  /* border: 1px solid black; */
  padding: 24px;
  background-color: #EEEEEE;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  font-family: soleil, sans-serif;

}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}

header{
  grid-column: span 8;
  background-color: #FF5A5A;
}
    h1{
      padding-top: 116px;
      padding-left: 24px;
      color: #EEEEEE;
      font-size: 96pt;
      padding-bottom: 0px;
      line-height: 95%;
      margin-bottom: 0;
      /* letter-spacing: 2px; */
      font-weight: 600;
    }
    h1 a:link,h1 a:visited,h1 a:hover{
      display: block;
      text-decoration: none;
      color: #EEEEEE;
    }

nav{
  grid-column: span 4;
}
  nav ul{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
    #about,#graphic,#audio{
      margin-bottom: 24px;
      margin-top: 0;
      padding-top: 0;
    }
    #video{
      margin-bottom: 0;
    }
    #indicator{
      padding-left: 12px;
    }
    nav li a,nav li a:visited,nav li a:link{
      display: block;
      font-size: 42pt;
      font-weight: 500;
      color: #EEEEEE;
      text-decoration: none;
      background-color: #FF5A5A;
      margin-left: 0px;
      /* padding: 8px; */
      padding-left: 24px;
      border: 8px solid #FF5A5A;
      /* letter-spacing: 2px; */
      transition: color .5s, background-color .5s;
      }

    nav li a:hover{
      background-color: #EEEEEE;
      color: #FF5A5A;
      transition: color .5s, background-color .5s;
    }

main{
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "blurb1 blurb1 blurb2 blurb2"
    "graphic1 graphic1 graphic2 graphic2"
    "graphic1 graphic1 graphic2 graphic2"
    "graphic1 graphic1 graphic2 graphic2"
    "graphic1 graphic1 graphic2 graphic2";
  padding-top: 24px;
  }

  #blurb1{
    grid-area: blurb1;
    font-size: 30pt;
    font-weight: 500;
    color: #EEEEEE;
    background-color: #FF5A5A;
    padding: 24px;
    margin: 0;
    margin-right: 12px;
  }

  #blurb2{
    grid-area: blurb2;
    font-size: 30pt;
    font-weight: 500;
    color: #EEEEEE;
    background-color: #FF5A5A;
    padding: 24px;
    margin: 0;
    margin-left: 12px;
  }

  #graphic1{
    grid-area: graphic1;
    width: 540px;
    background-color: #FF5A5A;
    padding: 24px;
  }

  #graphic2{
    grid-area: graphic2;
    width: 540px;
    background-color: #FF5A5A;
    padding: 24px;
    margin-right: 0;
    margin-left: 12px;
  }

footer{
  background-color: #FF5A5A;
  grid-column: span 12;
  padding: 24px;
  margin-top: 0px;
}
  footer h2{
    text-align: center;
    color: #EEEEEE;
    font-size: 16pt;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
  }
    footer a p,#vsco,#vsco:link,#vsco:visited,#vsco:hover{
      margin-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 0;
      color: #EEEEEE;
      font-size: 16pt;
      text-align: center;
      text-decoration: none;
    }
